<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="ggaNmeaCodec" class="com.frankwu.nmea.GgaNmeaCodec"/>

    <bean id="gllNmeaCodec" class="com.frankwu.nmea.GllNmeaCodec"/>

    <bean id="gsvNmeaCodec" class="com.frankwu.nmea.GsvNmeaCodec"/>

    <bean id="rmcNmeaCodec" class="com.frankwu.nmea.RmcNmeaCodec"/>

    <bean id="vdmNmeaCodec" class="com.frankwu.nmea.VdmNmeaCodec"/>

    <bean id="codecFactory" class="com.frankwu.nmea.CodecFactory">
        <constructor-arg>
            <map>
                <entry key="GGA"><ref bean="ggaNmeaCodec"/></entry>
                <entry key="GLL"><ref bean="gllNmeaCodec"/></entry>
                <entry key="GSV"><ref bean="gsvNmeaCodec"/></entry>
                <entry key="RMC"><ref bean="rmcNmeaCodec"/></entry>
                <entry key="VDM"><ref bean="vdmNmeaCodec"/></entry>
            </map>
        </constructor-arg>
    </bean>

    <bean id="codecManager" class="com.frankwu.nmea.CodecManager">
        <constructor-arg ref="codecFactory"/>
    </bean>

</beans>
